@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    position: relative;
    margin:0;
    font-family: 'Noto Sans',roboto;
    /*Removendo as margens do body*/
}

.header{
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    height: 100px;
    left: 0;
    right: 0;
    /*Organizando visualmente o conteúdo do cabeçalho, distribuindo espaçamento entre as sessões,
    bem como dando-lhe coloração, para facilitar o manuseamento*/
}

.left-section{

}

.middle-section{
    width: 600px;
    display:flex;
    align-items: end;
}

.right-section{
    justify-content: end;
    display:grid;
    font: 16px bold;
    font-family: 'Noto Sans',Roboto;
    grid-template-rows: 1fr 1fr;
    width: 475px;
}
